/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
  --main-color:#8e44ad;
  --red:#e74c3c;
  --oragen:#f39c12;
  --white:#fff;
  --black:#2c3e50;
  --light-color:#888;
  --light-bg:#eee;
  --border:.1rem solid rgba(0,0,0,.2);

}
*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
}

*::selection{
  background-color: var(--main-color);
  color: #fff;
}

*::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;

}
body {
  background-color: var(--light-bg);
}

section{
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  background-color: var(--white);
  border-bottom: var(--border);
  position: sticky;
  top: 0;left: 0;right: 0;
  z-index: 1000;
}

.header .flex{
  padding: 1.5rem 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .flex .logo{
  font-size: 4rem;
  color: var(--black);
  font-weight: bolder;
}

.header .flex .search-form {
  width: 50rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--light-bg);
}

.header .flex .search-form input {
  width: 100%;
  background: none;
  font-size: 2rpm;
  color: var(--black);
}

.header .flex .search-form button{
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  background: none;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #666;
  font-size: 25px;
  margin: 20px;
}

h3 {
  color: #ed9a67;
  font-size:22px;
  margin: 20px;
}

h4 {
  color: #000000;
  font-size:22px;
  margin: 20px;
}

p {
  margin: 20px;
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  width:800;
}

a {
  color: #0066cc;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #ed9a67;
  text-decoration: transparent;
  text-decoration-color: #999;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.kotakLogin{
	width: 500px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 50px auto;
	padding: 40px 50px;
}

.modul{
  width: 700px;
	background: rgb(254, 246, 239);
	/*meletakkan form ke tengah*/
	margin: 20px auto;
	padding: 40px 40px;

  
}

.login{
  text-align: center;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width:95%;
  padding: 10px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0052a3;
}

/* style.css */

.login-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

